<template>
    <div class="greetings">
        <h1>¡Bienvenid@ a TIENDAS COMPRA YA   <span> {{username}} </span>!</h1>  

         <h2> Aprovecha nuestras grandes ofertas y promociones </h2> 
    </div>

    
    
</template>

<script>
export default {
    name: "Home",

    data: function(){
    return {
        username: localStorage.getItem('username') || "none"
        };
    },
}
</script>

<style>
.greetings{
display: block;
margin: 0%;
padding: 2%;
height: 100%;
width: 100%;
}

.greetings h1{
    font-size: 30px;
    color: #283747;
    text-align: center;   
}

.greetings h2{
    font-size: 25px;
    color: #283747;
    text-align: center; 
}

.greetings span{
color: #ef3f3f;
font-weight: bold;
}
 
</style> 


