<template>
    <div class="logIn_user">
        <div class="container_logIn_user">
            <h2>Iniciar sesión</h2>
                <form v-on:submit.prevent="processLogInUser" >
                    <input type="text" v-model="user.username" placeholder="Username">
                    <br>
                    <input type="text" v-model="user.password" placeholder="Password">
                    <br>
                    <button type="submit">Iniciar Sesion</button>
                </form>
        </div>
    </div>
</template>

<script>
import axios from 'axios';

export default {
    name: "LogIn",

    data: function(){
        return {
            user: {
                username:"",
                password:""
            }
        }
    },

    methods: {
        processLogInUser: function(){
            debugger
            console.log(this.user)
            
            axios.post(
                "https://super-tienda-be.herokuapp.com/login/", 
                this.user,  
                {headers: {}}
                )
                .then((result) => {
                    let dataLogIn = {
                        username: this.user.username,
                        token_access: result.data.access,
                        token_refresh: result.data.refresh,
                    }
                    
                    this.$emit('completedLogIn', dataLogIn)
                })
                .catch((error) => {
                    
                    if (error.response.status == "401")
                        alert("ERROR 401: Credenciales Incorrectas.");
                    
                });
        }
    }
}
</script>

<style>



.logIn_user{
margin: 0;
padding: 0%;
height: 80%;
width: 100%;
display: flex;
justify-content: center;
align-items: center;


}
.container_logIn_user {
border: 3px solid #283747;
border-radius: 10px;
width: 40%;
height: 47%;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
background-color: #f7df31;
margin-top: 8%;
margin-bottom: 28%;
}

.logIn_user h2{
color: #283747;

}


.logIn_user form{
width: 70%;
}

.logIn_user input[type="text"]{
    
    width: 100%;
    height: 41px;
    box-sizing: border-box;
    padding: 4px 10px;
    margin: 8px 0;
    border: 1px solid #f6f6f6;
    border-radius: 3px;
    background-color: #f6f6f6;
    margin-left: 0%;
       
}

.logIn_user button{
width: 100%;
height: 40px;
color: #E5E7E9;
background: #ef3f3f;
border: 2px solid #283747;
border-radius: 5px;
text-align: center;
margin-top: 10%;
font-family: "TrebuchetMS";
font-size: 19px;
}
.logIn_user button:hover{
color: #E5E7E9;
background: #283747;
border: 2px solid #E5E7E9;
}
</style>