<template>
    <div class="signUp_user">
        <div class="container_signUp_user">
            <h2>Registrarse</h2>

            <form v-on:submit.prevent="processSignUp" >
                <input type="text" v-model="user.username" placeholder="Username">
                <br>
                <input type="text" v-model="user.password" placeholder="Password">
                <br>
                <input type="text" v-model="user.name" placeholder="Name">
                <br>
                <input type="text" v-model="user.email" placeholder="Email">
                <br>

        <button type="submit">Registrarse</button>
        </form>
    </div>
</div>
</template>

<script>
import axios from 'axios';

export default {
    name: "SignUp",

    data: function(){
        return {
            user: {
                username: "",
                password: "",
                name: "",
                email: "",
                
            }
        }
    },

    methods: {
        processSignUp: function(){
            axios.post(
                "https://super-tienda-be.herokuapp.com/user/", 
                this.user,  
                {headers: {}}
            )
                .then((result) => {
                    let dataSignUp = {
                        username: this.user.username,
                        token_access: result.data.access,
                        token_refresh: result.data.refresh,
                    }
                    
                    this.$emit('completedSignUp', dataSignUp)
                })
                .catch((error) => {
                    console.log(error)
                    alert("Error en el resgistro.");
                    
                    
                });
        }
    }
}
</script>

<style>


.signUp_user{
margin: 0;
padding: 0%;
height: 94%;
width: 100%;
display: flex;
justify-content: center;
align-items: center;

}

.container_signUp_user {
border: 3px solid #283747;
border-radius: 10px;
width: 40%;
height: 50%;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
background-color: #f7df31;
margin-top: -35%;
margin-bottom: -10%;
}

.signUp_user h2{
color: #283747;
margin-bottom: -3%;
margin-top: 6%;
}

.signUp_user form{
width: 70%;
}

.signUp_user input[type="text"]{
width: 100%;
height: 41px;
box-sizing: border-box;
padding: 4px 10px;
margin: 8px 0;
border: 1px solid #f6f6f6;
border-radius: 3px;
background-color: #f6f6f6;
margin-left: 0%;    
}

.signUp_user button
{

width: 100%;
height: 40px;
color: #E5E7E9;
background: #ef3f3f;
border: 2px solid #283747;
border-radius: 5px;
text-align: center;
margin-top: 10%;
font-family: "TrebuchetMS";
font-size: 19px;
}

.signUp_user button:hover{
color: #E5E7E9;
background: #ef3f3f;
border: 1px solid #283747;
}
</style>